src/main/mule/query.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a49a5097-e738-4924-a74c-807f5620f9f0" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="1a5e25c9-18dd-45e6-a930-9a0beb07ec23" >
		<salesforce:basic-connection username="advnagamani@techbulls.com" password="Charanyakshith123@" securityToken="tDMGNdER3XeDUzRozu0Eug4l" />
	</salesforce:sfdc-config>
	<flow name="queryFlow" doc:id="6ac12398-dfc4-4f69-9419-ec0706e4f300" >
		<http:listener doc:name="Listener" doc:id="0fe8c8f3-7be2-4739-96d5-a667c295df36" config-ref="HTTP_Listener_config" path="/query"/>
		<salesforce:query doc:name="Query" doc:id="8f1da473-0d80-4dc7-857b-4b3c35619af0" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT AccountNumber,AccountSource,Active__c,AnnualRevenue FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<set-payload doc:name="Set Payload" doc:id="e64930b3-9a89-4f76-addb-e334c60d2eba" value="#[output application/json&#10;---&#10;payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="0d2de9df-2cb1-4589-b37e-2f89c66056fe" message="#[output application/json&#10;---&#10;payload]"/>
	</flow>
</mule>
